@import "tailwindcss";

@layer utilities {
  @keyframes scan {
    0% { transform: translateY(0); opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { transform: translateY(184px); opacity: 0; }
  }
}
